@using CricketVerse.Services
@inject LanguageService LanguageService

<div class="dropdown">
    <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-globe"></i>
        <span class="ms-1">@LanguageService.CurrentLanguage</span>
    </button>
    <ul class="dropdown-menu">
        <li><button class="dropdown-item" @onclick="ToggleLanguage">
            @(LanguageService.CurrentLanguage == "en" ? "Urdu" : "English")
        </button></li>
    </ul>
</div>

@code {
    private async Task ToggleLanguage()
    {
        await LanguageService.ToggleLanguage();
    }
} 